* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: rgba(0, 0, 0, 0.842);
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 33;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-items {
  text-decoration: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container-fluid {
  background-color: rgba(255, 255, 255, 0.623);
}
.img-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#vision {
  grid-column: 1/-1;
  grid-row: 1/2;
  position: relative;
}
.vision-text {
  position: absolute;

  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.vision-text h3 {
  font-size: 30px;
  font-weight: 400;
}
.vision-text .extra-links a {
  text-decoration: none;
  color: rgb(0, 183, 255);
  font-size: 20px;
}
#valentines {
  grid-column: 1/-1;
  grid-row: 2/3;
  position: relative;
}
.valentaines-text {
  position: absolute;

  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.valentaines-text h2 {
  font-size: 50px;
  margin: 10px;
}
.valentaines-text h3 {
  font-size: 30px;
  font-weight: 400;
  margin: 10px;
}
.valentaines-text .extra-links a {
  text-decoration: none;
  color: rgb(0, 183, 255);
  font-size: 20px;
}
#iphone {
  position: relative;
}
.iphone-text {
  position: absolute;

  transform: translate(-50%, -50%);
  left: 50%;
  top: 90px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.iphone-text h2 {
  font-size: 30px;
  margin: 10px;
  color: white;
}
.iphone-text h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 10px;
  color: white;
}
.iphone-text .extra-links a {
  text-decoration: none;
  color: rgb(0, 183, 255);
  font-size: 20px;
}
#camera {
  position: relative;
}
.camera-text {
  position: absolute;

  transform: translate(-50%, -50%);
  left: 50%;
  top: 90px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.camera-text h2 {
  font-size: 30px;
  margin: 10px;
  color: rgb(0, 0, 0);
}
.camera-text h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 10px;
  color: rgb(0, 0, 0);
}
.camera-text .extra-links a {
  text-decoration: none;
  color: rgb(0, 183, 255);
  font-size: 20px;
}
#watch {
  position: relative;
}
.watch-text {
  position: absolute;

  transform: translate(-50%, -50%);
  left: 50%;
  top: 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.watch-text h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 10px;
  color: rgb(255, 255, 255);
}
.watch-text .extra-links a {
  text-decoration: none;
  color: rgb(0, 183, 255);
  font-size: 20px;
}
#music {
  position: relative;
}
.music-text {
  position: absolute;

  transform: translate(-50%, -50%);
  left: 50%;
  top: 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.music-text h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 10px;
  color: rgb(255, 255, 255);
}
.music-text .extra-links a {
  text-decoration: none;
  color: rgb(0, 183, 255);
  font-size: 20px;
}
#card {
  position: relative;
}
.card-text {
  position: absolute;

  transform: translate(-50%, -50%);
  left: 50%;
  top: 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-text h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 10px;
  color: rgb(0, 0, 0);
}
.card-text .extra-links a {
  text-decoration: none;
  color: rgb(0, 183, 255);
  font-size: 20px;
}
#trade {
  position: relative;
}
.trade-text {
  position: absolute;

  transform: translate(-50%, -50%);
  left: 50%;
  top: 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.trade-text h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 10px;
  color: rgb(0, 0, 0);
}
.trade-text .extra-links a {
  text-decoration: none;
  color: rgb(0, 183, 255);
  font-size: 20px;
}

.details-cantainer {
  margin-left: 15%;
  margin-right: 15%;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.774);
}
.details-cantainer p {
  padding-top: 10px;
}
.links-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 40px;
  line-height: 2;
}
.col-one {
  width: 150px;
}
.col-one ul li {
  list-style: none;
}
.col-one ul li a {
  text-decoration: none;
  color: black;
}
.col-two {
  width: 150px;
}
.col-two ul li {
  list-style: none;
}

.col-two ul li a {
  text-decoration: none;
  color: black;
}
.col-three {
  width: 150px;
}
.col-three ul li {
  list-style: none;
}
.col-three ul li a {
  text-decoration: none;
  color: black;
}
.col-four {
  width: 150px;
}
.col-four ul li {
  list-style: none;
}
.col-four ul li a {
  text-decoration: none;
  color: black;
}
.col-five {
  width: 150px;
}
.col-five ul li {
  list-style: none;
}
.col-five ul li a {
  text-decoration: none;
  color: black;
}
.last-para{
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer{
  border-top: 1px solid black;
  display: flex;
 margin-left: 15%;
 margin-right: 15%;
 gap: 20px;
}
.footer-content{
  font-size: 12px;
}
.footer-links{
  display: flex;
  justify-content: center;
  gap: 15px;
  text-decoration: none;
}
.footer-rigon{
  display: flex;
  justify-content: flex-end;
}